body {
    background-color: #454545;
    color: white;
}

nav {
    font-family: 'Press Start 2P', cursive;
    
}

h1 {
    margin-bottom: 2em;
    margin-top: 2em;
}

th {
    color: rgb(191, 231, 243);
}

td, tbody, tr{
    color:white;
}

img {
    max-height: 80px;
    max-width: 80px;
}

a, a:hover {
    text-decoration: none;
    color: white;
}

#user_password_first_help {
    color: white;
}