{% extends 'base.html.twig' %}

{% block title %}New Mood{% endblock %}

{% block active_user %}{% endblock %}
{% block active_mood %}active{% endblock %}

{% block body %}
<div class="col-4 mx-auto">
<div class="my-1 d-flex justify-content-between align-items-center px-3">
    <h1>Créer un nouveau mood</h1>
</div>
    {{ include('mood/_form.html.twig') }}

{% endblock %}
