<form method="post" action="{{ path('back_message_delete', {'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn btn-danger me-1">
    {% if app.request.get('_route') == 'back_message_index' %}
        <i class="far fa-trash-alt fa-2x"></i>
    {% else %}
        Supprimer <i class="far fa-trash-alt"></i>
    {% endif %}
    </button>
</form>
